<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="/pages/index.html">
                <img src="/assets/images/logo.png" alt="SafeStop RV Logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/pages/index.html">Home</a></li>
            <li><a href="/pages/docs.html">Documentation</a></li>
            <li><a href="/pages/faq.html">FAQ</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
        </ul>
    </div>
</nav>